* {
    width: 970px;
}

body {
    background-color: rgb(16, 49, 78);
    margin: 0px;

}

p {
    white-space: normal;
}

.title {
  width: 950px;
  background-color: rgb(170, 53, 53);
  color: white;
  border-radius: 25px;
  padding: 10px 0px 10px 20px;
}

nav {
    display: inline-block;
    width: 170px;
    background-color: rgb(58, 131, 131);
    color: white;
    margin: 0px 5px;
    padding: 22px 0px 10px 10px;
    border-radius: 25px;
    font-size: 14px;
}

nav a {
    color: rgb(118, 243, 243);
}

nav p {
    margin: 0px;
}

nav ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;    
}

nav ul ul {
    margin: 0px;
}

.main_body {
    display: inline-block;
    width: 722px;
    vertical-align: top;
    background-color: rgb(1, 1, 32);
    color: white;
    padding: 0px 34px 0px 15px;
    margin: 0px 0px 20px 5px;
    border-radius: 25px;
}

.main_body h1 {
    margin-bottom: 0px;
}

.main_body span {
    color: purple;
}

.main_body a {
    color: rgb(118, 243, 243);
}

.main_body p {
    width: inherit;
    margin-top: 5px;
}

.main_body ul {
    width: inherit;
    padding-left: 15px;
}

.main_body ul li {
    width: inherit;
}

footer {
    width: 950px;
    color: white;
    background-color: rgb(107, 106, 106);
    padding: 2px 0px 2px 20px;
    border-radius: 25px;
}

footer a {
    color: rgb(118, 243, 243);
    font-weight: bold;
}